<div class="row">
<div class="large-2 columns" id="dashboard">
    <h4 class="dashboard">
        <a href="#">Dashboard</a>
    </h4>
    <ul id="projects">
      <li>
        <span class="toggle"></span>
        <input type="text" style="display: none;"><h4 class="groupName">AiLabs</h4>
        <dl class="options">
          <dt>Options</dt>
        </dl>
        <ul>
          <li>
            <input type="text" style="display: none;"><a class="name" href="#/projects/1/tasks">Kontinuous</a>
            <button class="delete" href="/projects/1">Delete</button>
          </li>
          <li>
            <input type="text" style="display: none;"><a class="name" href="#/projects/2/tasks">Kanban</a>
            <button class="delete" href="/projects/2">Delete</button>
          </li>
          <li>
            <input type="text" style="display: none;"><a class="name" href="#/projects/3/tasks">Project X</a>
            <button class="delete" href="/projects/3">Delete</button>
          </li>
        </ul>
      </li>
    </ul>
  <button id="newGroup">New group</button>
</div>
<div ng-controller="TaskCtrl" class="large-10 columns" id="main">
  <div class="large-12 columns">
    <div class="large-4 columns folder" ng-repeat="status in statuses">
      <header>
        <h3>{{status.name}}({{groupped[status.name].length}})</h3>
      </header>
      <ul class="tasks list" ui-sortable="{connectWith:'.tasks', dropOnEmpty: true, update: syncModel}" ng-model="groupped[status.name]">
        <li ng-repeat="task in groupped[status.name]">
          <h4>{{task.name}}</h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="large-4 columns">
    <form class="addTask" ng-submit="addTodo()">
      <input type="text" name="taskBody" ng-model="todoText" placeholder="New task...">
      <input type="submit">
    </form>
  </div>
  <div class="large-8 columns">
  </div>
</div>
</div>