<div class="row">
<div class="large-2 columns" id="dashboard" ng-controller="BoardCtrl">
    <h4 class="dashboard">
        <a href="#">Dashboard</a>
    </h4>
    <ul id="projects">
      <li>
        <span class="toggle"></span>
        <input type="text" style="display: none;"><h4 class="groupName">AiLabs</h4>
        <dl class="options">
          <dt>Options</dt>
        </dl>
        <ul>
          <li ng-repeat="board in boards" ng-controller="BoardEditorCtrl">
            <ng-switch on="edit">
              <div ng-switch-when="true">
                <input type="text" ng-model="board.name" unfocus="disableEdit()" value="{{board.name}}">
              </div>
              <div ng-switch-default>
                <a class="name" href="#/boards/{{board.id}}">{{board.name}}</a><span ng-click="enableEdit()">edit</span>
              </div>
            </ng-switch>
            <button class="delete" href="/projects/1">Delete</button>
          </li>
        </ul>
      </li>
    </ul>
  <form>
    <div class="row collapse">
      <input type="text" ng-model="boardName" placeholder="add new board name here" required>
      <a class="new_button" type="submit" ng-click="saveBoard()">Add</a>
    </div>
  </form>
</div>
<div ng-controller="TaskCtrl" class="large-10 columns" id="main">
  <div class="large-12 columns">
    <div class="large-4 columns folder" ng-repeat="status in statuses">
      <header>
        <h3>{{status.name}}({{groupped[status.name].length}})</h3>
      </header>
      <ul class="tasks list" ui-sortable="{connectWith:'.tasks', dropOnEmpty: true, update: syncModel}" ng-model="groupped[status.name]">
        <li ng-repeat="task in groupped[status.name]">
          <h4>{{task.name}}</h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="large-4 columns">
    <form class="addTask" ng-submit="addTodo()">
      <input type="text" name="taskBody" ng-model="todoText" placeholder="New task...">
      <input type="submit">
    </form>
  </div>
  <div class="large-8 columns">
  </div>
</div>
</div>