@(title: String = "Kanban Tracker")(content: Html)

<!DOCTYPE html>
<html ng-app="kanban">
<head>
    <title>@title</title>
        <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/normalize.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/foundation.min.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui-1.10.1.custom.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/angular-ui.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/app.css")" />

    <script src="@routes.Assets.at("js/lib/jquery-1.7.2.js")"></script>
    <script src="@routes.Assets.at("js/lib/jquery-ui-1.8.18.js")"></script>
    <script src="@routes.Assets.at("js/lib/angular.js")" ></script>
    <script src="@routes.Assets.at("js/lib/angular-ui.js")"></script>
    <script src="@routes.Assets.at("js/services.js")"></script>
    <script src="@routes.Assets.at("js/angular-resource.js")"></script>
    <script src="@routes.Assets.at("js/kanban.js")"></script>
</head>
<body>
    @content
</body>
</html>
